<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="static/style.css">
        <nav>
            <a href="/home">Home</a>
            <style>
                .nav-container1 {
               position: absolute;
               top: 50%;
               right:50%;
               transform: translateY(-50%);
             text-align: right;
            }

            </style>
        </nav>
    </head>
    <body>
        <img src="static/images/about1.jpg" width="100%" height="100%" alt="Home">
        <div class="nav-container1">
        <div class="container">
        <h1 class="title">About</h1>
        <p1>About This App
Welcome to your personal To-Do List Manager. This tool was designed to help you declutter your mind and focus on what truly matters.<br>
Key Features:<br>
Stay Organized: Easily create and categorize your daily tasks.<br>
Track Progress: Move tasks to "Completed" to see how much you've achieved.<br>
Focus on Priorities: Keep your most important work at the top of your list.<br>
Simple & Fast: No complex menus—just a clean interface to get things done.<br>
“For every minute spent organizing, an hour is earned."<br>
        </p1>
        </div>
        </div>
    </body>
</html>