<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <img src="static/images/about1.jpg" width="100%" height="100%" alt="Home">
        <div class="nav-container">
        <h1 >Login</h1>
        <form method="post" action="/">
            <input type="text" placeholder="user name" name="username" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit" Name="Login">Login</button>
        </form>
        If you don't have account  <a href="/register">register</a>
        </div>
    </body>
</html>